<div class="container" ng-if="infoCtrl.registered">
    <p class="col-sm-12 text-center">You are currently registered with the following information.</p>
    <div class="col-sm-4 col-lg-4">
      <div class="row info-item">
        <label class="col-sm-4 col-xs-12"><span class="glyphicon glyphicon-user"></span> Name</label>
        <p class="col-sm-8 col-xs-12">{{ infoCtrl.user.firstName }} {{ infoCtrl.user.lastName }}</p>
      </div>
      <div class="row info-item">
        <label class="col-sm-4 col-xs-12"><span class="glyphicon glyphicon-envelope"></span> Email</label>
        <p class="col-sm-8 col-xs-12">{{ infoCtrl.user.email }}</p>
      </div>
      <div ng-if="infoCtrl.user.phoneNumber" class="row info-item">
        <label class="col-sm-4 col-xs-12"><span class="glyphicon glyphicon-phone"></span> Phone</label>
        <p class="col-sm-8 col-xs-12"><a href="tel:{{ infoCtrl.user.phoneNumber }}">{{ infoCtrl.user.phoneNumber }}</a></p>
      </div>
    </div>
    <div ng-if="infoCtrl.user.favorite.id" class="row info-item favorite">
      <label class="col-sm-6 col-xs-12"><span class="glyphicon glyphicon-cutlery"></span> Favorite Dish</label>
      <menu-item menu-item="infoCtrl.user.favorite"></menu-item>
    </div>
    <p class="col-sm-12 text-center"><a ui-sref="public.signup">Want to change your data ?</a></p>
</div>
<div class="container" ng-if="!infoCtrl.registered">
  <p >Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></p>
</div>
